
.body{
  padding-top: 3rem;
  /* width: 37rem; */
  
}


.c1{
  display: flex;
  gap: 1rem;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: .3rem;
}

.following{
  color: gray;
}

.horizontal-row {
  height: 1px;
  background-color: #D3D3D3;
  border: none;
}
.story-container {
  display: flex;
  gap: 1rem;
  position: absolute;
  text-align: center;
  overflow: hidden;
  width: 37rem;
}

.chevron-left {
 position: relative;
  bottom: -3rem;
  left: 1%;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  z-index: 1;
  margin: 0;
}
.chevron-right {
  position: relative;
  bottom: -3rem;
  left: 90%;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  z-index: 1;
  margin: 0;
}


.story-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
  
 
.content{
  background-color: #dc2743;
  width: 40rem;
  margin-top: 8rem;
}
.sub-content{
  background-color: #cc2366;
}
.content-head, .content-name{
  display: flex;
}
.content-head{
  gap: .8rem;
}
.content-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
 
.content-post{
  background-color: #bc1888;
  width: 33rem;
  height:35rem; 
  object-fit: cover;
}
.content-post img{
  width: 33rem;
  height: 35rem;
  object-fit: cover;
}