*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.right-sidebar {
  width: 25rem;
    height:100dvh;
    /* margin-left: 1rem; */
    margin-right: 6rem;
     padding-top: 3rem;
}

.first-compo, .second-compo {
  display: flex;
    align-items: center;
    justify-content: space-between;
   flex-direction: row;
   padding-right: 2rem;
}

.first-compo img, .second-compo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.name-titles p{
  color: rgb(149, 147, 147);
}

.name-titles{
  width: 15rem;
  margin-left: .6rem;
}

.first-compo-change, .second-compo-change {
  color: rgb(67, 67, 252);
  margin-left: 1.6rem;
  font-size: 1rem;
  font-weight: 600;
}

.first-compo-change:hover, .second-compo-change:hover {
  color: #fff;
  cursor: pointer;
}
.first-compo{
  margin-bottom: 1.5rem;
}
.sugest{
  color: gray;
  margin-bottom: .5rem;
}
.sugest span{
  color: #fff;
  margin-left: 4rem;
  font-size: 1rem;
  font-weight: 600;
}

.sugest span:hover{
  color: gray;
  cursor: pointer;
}

footer{
  color: gray;
  margin-top: 2rem;
}

.second-compo{
  margin-bottom: .4rem;
}