:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  
}
.main-container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  color: white!important;
  background-color: #272727;
  gap: 18rem;
}

.body-right {
  width: 100%;
  display: flex;
  background-color: #272727;
  gap: 4rem;
}

.body-right-main{
  width: 37rem;
}

